/*put your styles here*/

.arrow {
    position:relative;
    width:200px;
    margin:25px auto;
    height:0;
    border-bottom:5px solid black;
}

.right{
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
    position: absolute;
    right: -10px;
    top: -17px;
}

.left{
    content: '';
    width: 0;
	height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid black;
    position: absolute;
    left: -10px;
    top: -17px;
}

.mapdiv {
  height: 100%;
  width: 100%;
}

.div-button {
  float:right;
  padding: 10px;
}

.province .active {
  fill: #FB7998;
}
.province.active:hover{
  fill: #FB7998;
}
.province.active:not(:hover){
  fill: #FB7998;
}
