/*put your styles here*/

.arrow {
    position:relative;
    width:200px;
    margin:25px auto;
    height:0;
    border-bottom:5px solid black;
}

.right{
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
    position: absolute;
    right: -10px;
    top: -17px;
}

.left{
    content: '';
    width: 0;
	height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid black;
    position: absolute;
    left: -10px;
    top: -17px;
}

.mapdiv {
  height: 100%;
  width: 100%;
}

.div-button {
  float:right;
  padding: 10px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 75%;
  height: 100%;
  padding-bottom: 500px;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
